* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-beige: rgb(243, 243, 243);
    --primary-color: #dca486;
    --secondary-color: #faf1ec;
    --ternary-color: #ffddcb;
    --text-color: #6b4f3f;
}

html,
body {
    background-color: var(--ternary-color);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.15s ease;
    font-weight: bold;
    font-size: 1.1rem;
}

button.current {
    background-color: #6b4f3f;
    pointer-events: none;
    border-color: #6b4f3f;
}

button:hover {
    background-color: white;
    color: black;
}

#content {
    background-color: var(--secondary-color);
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-items: center;
    color: var(--text-color);
    padding: 0 28px;
}

hr {
    border: 2px solid var(--primary-color);
    width: 60%;
    place-self: center;
    border-radius: 12px;
    margin: 50px 0;
}

hr:first-of-type {
    width: 20%;
}

.card {
    margin: 24;
}

/*homepage*/

.homepage {
    place-items: center;
}

.homepage .page-title {
    width: 25rem;
}

.homepage .card {
    padding: 22px;
    margin: 24px 0;
    width: 32rem;
    background-color: white;
    border: 2px solid var(--primary-color);
}

article {
    width: 60ch;
    margin: 0 auto;
    word-spacing: 4px;
}

.homepage .autor {
    text-align: start;
    padding-top: 12px;
    padding-left: 30px;
}

.title,
p {
    text-align: center;
}

.title {
    padding: 12px;
}

/* Menu */

.menu-wrapper {
    width: 100%;
}

.menu-wrapper .card {
    width: 90%;
    padding: 20px;
    margin: 20px;
}

h1.title {
    width: 30%;
    padding: 20px;
    place-self: center;
    margin: 20px;
}

.menu-wrapper .section-name {
    width: 30rem;
    margin: 0 auto;
    align-self: center;
    display: flex;
    gap: 16px;
    place-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
}


.section-name hr {
    border: 2px solid var(--text-color);
    width: 15%;
    flex: 1;
    margin: 0;
}

.section-name hr:first-child {
    margin-left: 10%;
}

.section-name hr:last-child {
    margin-right: 10%;
}

.section {
    display: grid;
    grid-template-rows: 80px 200px 200px;
    grid-template-columns: repeat(3, 1fr);
}

.card .title {
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    place-content: center;
}

h1.title,
.card,
.section-name {
    border-radius: 6px;
    border: 2px solid var(--primary-color);
    background-color: white;
}

header nav,
h1.title,
.card,
.section-name {
    box-shadow: 2px 2px 8px 2px #0000002d;
    position: relative;
    z-index: 10;
}

/*Contact*/

.contact-wrapper .card p,
.contact-wrapper .card .title {
    text-align: start;
}

.contact-wrapper .card p {
    padding-left: 30px;
}

.contact-wrapper .card .title {
    padding-left: 12px;
}

.contact-wrapper .card {
    width: 400px;
}